<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Restaurante universitário</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main-page.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <br>
    <img class="logo-main" src="/static/images/logo_ufsc.png" />

    <div class="container" id="login-container">
        <div class="card hovercard">
            <div class="card-background">
                <img class="card-bkimg" alt="" src="{{userData.imagemUsuario}}">
            </div>
            <div class="useravatar">
                <img alt="" src="{{userData.imagemUsuario}}">
            </div>
            <div class="card-info"> <span class="card-title">{{userData.nome}} - Funcionário</span>

            </div>
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-apple  " aria-hidden="true"></span>
                    <div class="hidden-xs">Cardápio</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <div class="hidden-xs">Cadastro de usuários</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="favorites" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    <div class="hidden-xs">Vincular carteirinha</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="following" class="btn btn-default" href="#passes" data-toggle="tab"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                    <div class="hidden-xs">Adicionar créditos</div>
                </button>
            </div>
            <div class="btn-group" role="group" onclick="goToUserPage()">
                <button type="button" id="following" class="btn btn-default" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <div class="hidden-xs">Página de usuário</div>
                </button>
            </div>
            <div class="btn-group" role="group" onclick="logout()">
                <button type="button" id="following" class="btn btn-default" data-toggle="tab"><span class="glyphicon   glyphicon-log-out" aria-hidden="true"></span>
                    <div class="hidden-xs">Logout</div>
                </button>
            </div>
        </div>

        <div class="well">
        <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
            <h3><button type="button" class="btn btn-primary">Usuários no restaurante: <span class="badge" id="userCounter"></span></button></h3>
            <hr/>
            <h3><b>Cardápio:</b> <button type="button" class="btn btn-primary">Editar</button></h3>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Acompanhamento 1</th>
                  <th>Acompanhamento 2</th>
                  <th>Principal</th>
                  <th>Complemento</th>
                  <th>Salada</th>
                  <th>Sobremesa</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                {% for item in cardapio %}
                  <td>{{item}}</td>
                {% endfor %}
                </tr>
              </tbody>
            </table>
        </div>
        <div class="tab-pane fade in" id="tab2">

        <form class="form-horizontal" id="form-cadastro-aluno" action="/api/adduser" method="post">
            <fieldset>

            <!-- Form Name -->
            <legend><h3>Cadastrar novo usuário</h3></legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="matricula">Matrícula</label>
              <div class="col-md-4">
              <input id="cmpny" name="matricula" type="text" placeholder="Matrícula" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="nome">Nome</label>
              <div class="col-md-4">
              <input id="fn" name="nome" type="text" placeholder="Nome completo" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="tipo">Tipo de usuário</label>
              <div class="col-md-4">
                <select name="tipo" class="form-control input-md">
                  <option value="aluno">Aluno</option>
                  <option value="funcionario">Funcionário</option>
                  <option value="professor">Professor</option>
                </select>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email</label>
              <div class="col-md-4">
              <input id="email" name="email" type="text" placeholder="E-mail" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="senha">Senha</label>
              <div class="col-md-4">
              <input id="senha" name="senha" type="text" placeholder="Senha" class="form-control input-md" required="">

              </div>
            </div

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="imagem">Imagem de usuário</label>
              <div class="col-md-4">
                <label class="custom-file">
                  <input type="file" id="imagem" name="imagem" class="custom-file-input">
                  <span class="custom-file-control"></span>
                </label>

              </div>
            </div

            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="submit"></label>
              <div class="col-md-4">
                <button id="submitCadastroUsuario" class="btn btn-primary">Cadastrar</button>
              </div>
            </div>

            </fieldset>
        </form>
        </div>


        <div class="tab-pane fade in" id="tab3">
          <h3>Vincular carteirinha</h3>

        </div>

        <div class="tab-pane fade in" id="passes">
          <h3>Adicionar créditos para usuários</h3>
          <div class="alert alert-warning" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Atenção!</strong> Por esta página você pode apenas adicionar passes para a carteirinha do usuário.
          </div>
              <table class="table">
                  <thead>
                      <tr>
                          <th>Produto</th>
                          <th>Matrícula</th>
                          <th>Quantidade</th>
                      </tr>
                  </thead>
                  <tbody>

                      <tr>
                          <td>
                          <div class="media">
                              <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                              <div class="media-body">
                                  <h4 class="media-heading"><a href="#">&nbsp Passe comum</a></h4>
                                  <span>&nbsp Status: </span><span class="text-success"><strong>  Disponível para compra</strong></span>
                              </div>
                          </div>
                          </td>
                          <td class="col-sm-1 col-md-2" style="text-align: center">
                          <input type="qty" class="form-control" size="20" id="adicionar-credito-matricula" value="">
                          </td>
                          <td class="col-sm-1 col-md-2" style="text-align: center">
                          <input type="qty" class="form-control" size="5" id="adicionar-credito-qtd-passes" value="">
                          </td>
                      </tr>
                      <tr>
                          <td>   </td>
                          <td>   </td>

                          <td>
                          <button type="button" id="submitAddPasses" class="btn btn-success">
                              Adicionar passes <span class="glyphicon glyphicon-plus"></span>
                          </button></td>
                      </tr>
                  </tbody>
              </table>

        </div>

        </div>
        </div>
    </div><!-- /container -->



    <script src="/static/js/usuario.js"></script>
    <script src="/static/js/funcionario.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).removeClass("btn-default").addClass("btn-primary");
        });
    });
</script>
</body>
</html>
